Patrick_Sanan_CV.pdf
Patrick_Sanan_Resume.pdf
Patrick_Sanan_publications_list.pdf

# LaTeX / Beamer
*.toc
*.bbl
*.blg
*.aux
*.log
*.nav
*.snm
*.out
*.fls
*.temp
*.vrb
*-blx.bib
*.run.xml
*.synctex.gz
*.bcf

# latexmk
*.fdb_latexmk

# Python
*.pyc
__pycache__

# OS X
.DS_Store

# Vim
.*.sw[omp]
