Patrick_Sanan_CV.pdf
Patrick_Sanan_Resume.pdf
Patrick_Sanan_publications_list.pdf

#bitbucket.org/psanan/pdsbib
pds.bib

*.log
*.make
*.bbl
*.blg
*.aux
*.fls
*.d
*.out
*.make.temp
*.fdb_latexmk

*.DS_Store
.*.swp
