<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Patrick Sanan Dot Org</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
<body>
<div>
  <b><a href="index.html">patricksanan.org</a></b> | <a href="reports.html">trip reports</a> | <a href="music.html">music</a> | <a href="misc.html">misc.</a> | <a href="teaching.html">teaching</a> | <a href="links.html">links</a> | <a href="feed">feed</a> | <a href="contact.html">contact</a>
</div>
<!--END HEADER -- This line and above can be automatically rewritten!-->
