/* Enter solarized colors directly, with an inline comment */

html {
  font-family: 'PT Sans',sans-serif;
  max-width: 900px;
}

body {
  color: /*base03*/#002b36;
  background-color: /*base3*/#fdf6e3;
}

a {
  color: /*cyan*/#2aa198;
}

a:visited {
  color: /*violet*/#6c71c4;
}

h1 {
  background-color: /*base2*/#eee8d5;
  border: 2px solid /*base01*/#586e75;
  padding: 0.1em 0.2em
}

figcaption {
  font: italic sans-serif;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.grid-item {
  padding: 0;
  margin: 10px;
}

.grid-item img {
  max-width:100%;
}

.grid-item figure {
  max-width:100%;
  margin: 0;
  padding: 0;
  text-indent: 0;
  display: table;
}

.grid-item figcaption{
  font-style: italic;
  font-size: smaller;
  background: /*base2*/#eee8d5;
  display: table-caption;
  caption-side: bottom;
}

.footer {
  color: /*base1*/#93a1a1;
  font-size: smallest;
}

.footer hr {
  color: /*base01*/#586e75;
}

.publication-date {
  font-style: bold;
}

.updated-date {
  font-style: italic;
  font-size: smaller;
}
